


{% extends 'base.html' %}
{% block content %}
<h1>Hello guys</h1>
<br>

<h2> This is my first django project on Stock Exchange </h2>

<br>
<p>
    <ul><b>
 <li>Everyone calls me Thaneesh Reddy
<li>I am a final year bachelor's in Computer Science at KL University, Vijayawada. I will be graduating by March 2022. I have been attached to open source technologies that made me part with Swecha Organization (NPO), there I have been in the roles of Team Lead for software projects, Managing the Technology sessions, Teaching the tech stacks.
</li>
<li> I am good at problem-solving skills, I bagged 5-star badges in problem-solving, java, python at HackerRank coding platform, and a 2-star rating in Codechef coding platform.
</li>
<li> Certified Google Cloud Associate Cloud Engineer
</li>
<li>I achieved 73.55% in TCS ION National Qualifier Test
</li>
<li> <b>I have Sound Knowledge in</b>
</li>
<dl>
<dt> C </dt>
<dt>  Python</dt>
<dt> Java</dt>
<dt> Html</dt>
<dt>  CSS</dt>
<dt> JavaScript(React)</dt>
<dt>  SQL</dt>
<dt> Unix Shell Scripting</dt>
<dt> Google Cloud Platform [Certified Associate Cloud Engineer]</dt>
<dt> Django</dt>
</dl>
</ul>
</p>

<br>
<br>

<h2>Follow me </h2>
<a href="https://www.linkedin.com/in/thaneeshreddy/">Linkedin</a>


{% endblock %}
